In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
import boto3

In [2]:
os.chdir('../')

In [3]:
os.listdir('data/procesada')

['data_plus_census.csv',
 'data_with_index_nodups.csv',
 'data_with_index_nodups.pkl',
 'data_with_index.pkl',
 'data_plus_census.pkl',
 'data_with_index.csv']

# Load data

## Labels

In [4]:
data = pd.read_pickle('data/procesada/data_with_index_nodups.pkl')

In [5]:
data.head()

  state      census_code        lat       long final_decision
0    sp  351550905000079 -20.263983 -50.247906              R
1    sp  351550905000079 -20.265123 -50.255143              R
2    sp  351550905000079 -20.266660 -50.254667              A
3    sp  351550905000058 -20.267959 -50.262205              R
4    sp  351550905000042 -20.268545 -50.241478              R

## censo - basico

In [6]:
data_censitarios_basico= pd.read_csv('data/basico/dados_censitarios_consolidados.csv', dtype='str')
#print(data_censitarios_basico.columns)
focus_columns_basico_num = ['BASICO_V001',
       'BASICO_V002', 'BASICO_V003', 'BASICO_V004', 'BASICO_V005',
       'BASICO_V006', 'BASICO_V007', 'BASICO_V008', 'BASICO_V009',
       'BASICO_V010', 'BASICO_V011', 'BASICO_V012']

docus_columns_basico_no_num = ['Cod_setor', 'Situacao_setor', 'Tipo_setor']

In [7]:
data_censitarios_basico = data_censitarios_basico.loc[:, docus_columns_basico_no_num+focus_columns_basico_num] 

for var_i in focus_columns_basico_num:
    data_censitarios_basico[var_i] = pd.to_numeric(data_censitarios_basico[var_i].str.replace(',', '.'), 
                                                          errors='coerce')

data_censitarios_basico = data_censitarios_basico.rename(columns={'Situacao_setor': 'Situacao_setor_basico'})

In [8]:
print(data_censitarios_basico.isna().mean()*100)
data_censitarios_basico.head()

Cod_setor                0.000000
Situacao_setor_basico    0.000000
Tipo_setor               0.000000
BASICO_V001              0.269318
BASICO_V002              0.269318
BASICO_V003              0.269318
BASICO_V004              0.269318
BASICO_V005              0.269318
BASICO_V006              0.269318
BASICO_V007              0.337023
BASICO_V008              0.337023
BASICO_V009              0.001128
BASICO_V010              0.001128
BASICO_V011              0.086889
BASICO_V012              0.086889
dtype: float64

,Cod_setor,Situacao_setor_basico,Tipo_setor,BASICO_V001,BASICO_V002,BASICO_V003,BASICO_V004,BASICO_V005,BASICO_V006,BASICO_V007,BASICO_V008,BASICO_V009,BASICO_V010,BASICO_V011,BASICO_V012
0,350010505000001,1,0,149.0,304.0,2.04,1.11,2103.64,4.968912e+06,2191.90,4.984037e+06,1530.51,4163648.03,1901.54,4468808.10
1,350010505000002,1,0,294.0,785.0,2.67,1.77,1899.91,3.969367e+06,1980.76,3.978169e+06,1180.37,2621328.25,1572.39,2875973.50
2,350010505000003,1,0,214.0,519.0,2.43,1.33,3170.82,1.437754e+07,3246.68,1.447569e+07,1908.64,10014924.33,2536.42,11721183.00
3,350010505000004,1,0,288.0,788.0,2.74,1.85,2782.60,1.262410e+07,2882.70,1.279026e+07,1583.46,7209788.84,2141.47,8558034.75
4,350010505000005,1,0,291.0,813.0,2.79,1.85,2050.27,1.013951e+08,2455.27,1.205080e+08,1423.52,40900639.93,1908.13,53922664.72

## censo - domicilio

In [9]:
data_censitarios_domicilio = pd.read_csv('data/domicilio/dados_censitarios_consolidados_domicilio_renda.csv',
                                     dtype='str')

# print(data_censitarios_domicilio.columns)
focus_columns_domicilio_num = ['DOMICILIO_RENDA_V001',
       'DOMICILIO_RENDA_V002', 'DOMICILIO_RENDA_V003', 'DOMICILIO_RENDA_V004',
       'DOMICILIO_RENDA_V005', 'DOMICILIO_RENDA_V006', 'DOMICILIO_RENDA_V007',
       'DOMICILIO_RENDA_V008', 'DOMICILIO_RENDA_V009', 'DOMICILIO_RENDA_V010',
       'DOMICILIO_RENDA_V011', 'DOMICILIO_RENDA_V012', 'DOMICILIO_RENDA_V013',
       'DOMICILIO_RENDA_V014']

docus_columns_domicilio_no_num = ['Cod_setor', 'Situacao_setor']

In [10]:
data_censitarios_domicilio = data_censitarios_domicilio.loc[:, docus_columns_domicilio_no_num+focus_columns_domicilio_num] 

for var_i in focus_columns_domicilio_num:
    data_censitarios_domicilio[var_i] = pd.to_numeric(data_censitarios_domicilio[var_i].str.replace(',', '.'), 
                                                          errors='coerce')
    
data_censitarios_domicilio = data_censitarios_domicilio.rename(columns={'Situacao_setor': 'Situacao_setor_domicilio'})

In [11]:
print(data_censitarios_domicilio.isna().mean()*100)
data_censitarios_domicilio.head()
# los missing corresponden a información que aparece con X en la celda original (antes de transformarla a número)

Cod_setor                   0.000000
Situacao_setor_domicilio    0.000000
DOMICILIO_RENDA_V001        2.104139
DOMICILIO_RENDA_V002        2.104139
DOMICILIO_RENDA_V003        2.104139
DOMICILIO_RENDA_V004        2.104139
DOMICILIO_RENDA_V005        2.104139
DOMICILIO_RENDA_V006        2.104139
DOMICILIO_RENDA_V007        2.104139
DOMICILIO_RENDA_V008        2.104139
DOMICILIO_RENDA_V009        2.104139
DOMICILIO_RENDA_V010        2.104139
DOMICILIO_RENDA_V011        2.104139
DOMICILIO_RENDA_V012        2.104139
DOMICILIO_RENDA_V013        2.104139
DOMICILIO_RENDA_V014        2.104139
dtype: float64

,Cod_setor,Situacao_setor_domicilio,DOMICILIO_RENDA_V001,DOMICILIO_RENDA_V002,DOMICILIO_RENDA_V003,DOMICILIO_RENDA_V004,DOMICILIO_RENDA_V005,DOMICILIO_RENDA_V006,DOMICILIO_RENDA_V007,DOMICILIO_RENDA_V008,DOMICILIO_RENDA_V009,DOMICILIO_RENDA_V010,DOMICILIO_RENDA_V011,DOMICILIO_RENDA_V012,DOMICILIO_RENDA_V013,DOMICILIO_RENDA_V014
0,355030801000001,1,2.0,907777.0,903817.0,3960.0,0.0,0.0,14.0,51.0,94.0,49.0,42.0,12.0,5.0,1.0
1,355030801000002,1,0.0,846525.0,846525.0,0.0,0.0,2.0,28.0,87.0,94.0,45.0,30.0,12.0,4.0,4.0
2,355030801000003,1,0.0,505662.0,505662.0,0.0,0.0,3.0,11.0,38.0,50.0,19.0,16.0,10.0,3.0,39.0
3,355030801000004,1,0.0,446011.0,446011.0,0.0,0.0,3.0,8.0,39.0,57.0,14.0,14.0,9.0,1.0,36.0
4,355030801000005,1,0.0,615215.0,615215.0,0.0,0.0,2.0,20.0,68.0,76.0,37.0,18.0,8.0,3.0,8.0

## censo - personas

In [12]:
data_censitarios_persona = pd.read_csv('data/pessoa/dados_censitarios_consolidados_pessoa_renda.csv',
                                     dtype='str')

#print(data_censitarios_persona.columns.tolist())
focus_columns_persona_num = ['PESSOA_RENDA_V001', 'PESSOA_RENDA_V002', 'PESSOA_RENDA_V003', 'PESSOA_RENDA_V004',
                             'PESSOA_RENDA_V005', 'PESSOA_RENDA_V006', 'PESSOA_RENDA_V007', 'PESSOA_RENDA_V008', 
                             'PESSOA_RENDA_V009', 'PESSOA_RENDA_V010', 'PESSOA_RENDA_V011', 'PESSOA_RENDA_V012',
                             'PESSOA_RENDA_V013', 'PESSOA_RENDA_V014', 'PESSOA_RENDA_V015', 'PESSOA_RENDA_V016',
                             'PESSOA_RENDA_V017', 'PESSOA_RENDA_V018', 'PESSOA_RENDA_V019', 'PESSOA_RENDA_V020', 
                             'PESSOA_RENDA_V021', 'PESSOA_RENDA_V022', 'PESSOA_RENDA_V023', 'PESSOA_RENDA_V024', 
                             'PESSOA_RENDA_V025', 'PESSOA_RENDA_V026', 'PESSOA_RENDA_V027', 'PESSOA_RENDA_V028',
                             'PESSOA_RENDA_V029', 'PESSOA_RENDA_V030', 'PESSOA_RENDA_V031', 'PESSOA_RENDA_V032', 
                             'PESSOA_RENDA_V033', 'PESSOA_RENDA_V034', 'PESSOA_RENDA_V035', 'PESSOA_RENDA_V036',
                             'PESSOA_RENDA_V037', 'PESSOA_RENDA_V038', 'PESSOA_RENDA_V039', 'PESSOA_RENDA_V040', 
                             'PESSOA_RENDA_V041', 'PESSOA_RENDA_V042', 'PESSOA_RENDA_V043', 'PESSOA_RENDA_V044', 
                             'PESSOA_RENDA_V045', 'PESSOA_RENDA_V046', 'PESSOA_RENDA_V047', 'PESSOA_RENDA_V048',
                             'PESSOA_RENDA_V049', 'PESSOA_RENDA_V050', 'PESSOA_RENDA_V051', 'PESSOA_RENDA_V052',
                             'PESSOA_RENDA_V053', 'PESSOA_RENDA_V054', 'PESSOA_RENDA_V055', 'PESSOA_RENDA_V056',
                             'PESSOA_RENDA_V057', 'PESSOA_RENDA_V058', 'PESSOA_RENDA_V059', 'PESSOA_RENDA_V060',
                             'PESSOA_RENDA_V061', 'PESSOA_RENDA_V062', 'PESSOA_RENDA_V063', 'PESSOA_RENDA_V064', 
                             'PESSOA_RENDA_V065', 'PESSOA_RENDA_V066', 'PESSOA_RENDA_V067', 'PESSOA_RENDA_V068', 
                             'PESSOA_RENDA_V069', 'PESSOA_RENDA_V070', 'PESSOA_RENDA_V071', 'PESSOA_RENDA_V072',
                             'PESSOA_RENDA_V073', 'PESSOA_RENDA_V074', 'PESSOA_RENDA_V075', 'PESSOA_RENDA_V076',
                             'PESSOA_RENDA_V077', 'PESSOA_RENDA_V078', 'PESSOA_RENDA_V079', 'PESSOA_RENDA_V080',
                             'PESSOA_RENDA_V081', 'PESSOA_RENDA_V082', 'PESSOA_RENDA_V083', 'PESSOA_RENDA_V084',
                             'PESSOA_RENDA_V085', 'PESSOA_RENDA_V086', 'PESSOA_RENDA_V087', 'PESSOA_RENDA_V088', 
                             'PESSOA_RENDA_V089', 'PESSOA_RENDA_V090', 'PESSOA_RENDA_V091', 'PESSOA_RENDA_V092',
                             'PESSOA_RENDA_V093', 'PESSOA_RENDA_V094', 'PESSOA_RENDA_V095', 'PESSOA_RENDA_V096',
                             'PESSOA_RENDA_V097', 'PESSOA_RENDA_V098', 'PESSOA_RENDA_V099', 'PESSOA_RENDA_V100', 
                             'PESSOA_RENDA_V101', 'PESSOA_RENDA_V102', 'PESSOA_RENDA_V103', 'PESSOA_RENDA_V104', 
                             'PESSOA_RENDA_V105', 'PESSOA_RENDA_V106', 'PESSOA_RENDA_V107', 'PESSOA_RENDA_V108', 
                             'PESSOA_RENDA_V109', 'PESSOA_RENDA_V110', 'PESSOA_RENDA_V111', 'PESSOA_RENDA_V112',
                             'PESSOA_RENDA_V113', 'PESSOA_RENDA_V114', 'PESSOA_RENDA_V115', 'PESSOA_RENDA_V116', 
                             'PESSOA_RENDA_V117', 'PESSOA_RENDA_V118', 'PESSOA_RENDA_V119', 'PESSOA_RENDA_V120',
                             'PESSOA_RENDA_V121', 'PESSOA_RENDA_V122', 'PESSOA_RENDA_V123', 'PESSOA_RENDA_V124',
                             'PESSOA_RENDA_V125', 'PESSOA_RENDA_V126', 'PESSOA_RENDA_V127', 'PESSOA_RENDA_V128', 
                             'PESSOA_RENDA_V129', 'PESSOA_RENDA_V130', 'PESSOA_RENDA_V131', 'PESSOA_RENDA_V132']


focus_columns_persona_no_num = ['Cod_setor', 'Situacao_setor']

In [13]:
data_censitarios_persona = data_censitarios_persona.loc[:, focus_columns_persona_no_num+focus_columns_persona_num] 

for var_i in focus_columns_persona_num:
    data_censitarios_persona[var_i] = pd.to_numeric(data_censitarios_persona[var_i].str.replace(',', '.'), 
                                                          errors='coerce')
    
data_censitarios_persona = data_censitarios_persona.rename(columns={'Situacao_setor': 'Situacao_setor_persona'})

In [14]:
print(data_censitarios_persona.isna().mean()*100)
data_censitarios_persona.head()
# los missing corresponden a información que aparece con X en la celda original (antes de transformarla a número)

Cod_setor                 0.000000
Situacao_setor_persona    0.000000
PESSOA_RENDA_V001         2.104139
PESSOA_RENDA_V002         2.104139
PESSOA_RENDA_V003         2.104139
                            ...
PESSOA_RENDA_V128         2.104139
PESSOA_RENDA_V129         2.104139
PESSOA_RENDA_V130         2.104139
PESSOA_RENDA_V131         2.104139
PESSOA_RENDA_V132         2.104139
Length: 134, dtype: float64

,Cod_setor,Situacao_setor_persona,PESSOA_RENDA_V001,PESSOA_RENDA_V002,PESSOA_RENDA_V003,PESSOA_RENDA_V004,PESSOA_RENDA_V005,PESSOA_RENDA_V006,PESSOA_RENDA_V007,PESSOA_RENDA_V008,...,PESSOA_RENDA_V123,PESSOA_RENDA_V124,PESSOA_RENDA_V125,PESSOA_RENDA_V126,PESSOA_RENDA_V127,PESSOA_RENDA_V128,PESSOA_RENDA_V129,PESSOA_RENDA_V130,PESSOA_RENDA_V131,PESSOA_RENDA_V132
0,355030801000001,1,2.0,93.0,180.0,92.0,82.0,63.0,9.0,3.0,...,74005.0,59930.0,56750.0,97100.0,12000.0,0.0,32000.0,396.0,266.0,364621.0
1,355030801000002,1,6.0,138.0,205.0,85.0,72.0,56.0,4.0,4.0,...,79688.0,47032.0,45500.0,90700.0,0.0,16000.0,23000.0,446.0,292.0,351255.0
2,355030801000003,1,1.0,32.0,102.0,46.0,67.0,19.0,5.0,9.0,...,46634.0,27172.0,57100.0,35300.0,6000.0,16000.0,0.0,296.0,136.0,197966.0
3,355030801000004,1,2.0,24.0,126.0,56.0,41.0,28.0,4.0,2.0,...,48149.0,27900.0,28800.0,42700.0,7500.0,0.0,0.0,265.0,128.0,163939.0
4,355030801000005,1,3.0,99.0,168.0,81.0,59.0,35.0,5.0,3.0,...,68700.0,35110.0,45001.0,46100.0,13000.0,0.0,0.0,358.0,220.0,242746.0

# Join

In [15]:
data = (data
        .dropna(subset=['census_code'])
        .merge(data_censitarios_basico,left_on='census_code', right_on='Cod_setor', how='left')
        .merge(data_censitarios_domicilio,left_on='census_code', right_on='Cod_setor', how='left')
        .merge(data_censitarios_persona,left_on='census_code', right_on='Cod_setor', how='left')
       )

# Exportar data

In [16]:
data.to_csv('data/procesada/data_plus_census.csv', index=False)
data.to_pickle('data/procesada/data_plus_census.pkl')

## Cargar data a S3

In [17]:
AWS_ACCESS_KEY = ' AKIARQBCIP76L6XVXIVQ'
AWS_SECRET_ACCESS_KEY = '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'
S3_BUCKET_NAME = 'ds4ateam5'

s3_client = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY
)

s3_bucket = s3_client.Bucket(S3_BUCKET_NAME)
local_folder = '.'

In [18]:
for file_i in ['data/procesada/data_plus_census.csv',
               'data/procesada/data_plus_census.pkl']:
    
    s3_bucket.upload_file(file_i, file_i)