In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import os
import boto3

In [2]:
os.chdir('../')

In [3]:
os.listdir('data/procesada')

['data_plus_census.csv',
 'data_with_index_nodups.csv',
 'data_with_index_nodups.pkl',
 'data_with_index.pkl',
 'data_plus_census.pkl',
 'data_with_index.csv']

# Load data

## Labels

In [4]:
data = pd.read_pickle('data/procesada/data_with_index_nodups.pkl')

In [5]:
data.head()

  state      census_code        lat       long final_decision
0    sp  351550905000079 -20.263983 -50.247906              R
1    sp  351550905000079 -20.265123 -50.255143              R
2    sp  351550905000079 -20.266660 -50.254667              A
3    sp  351550905000058 -20.267959 -50.262205              R
4    sp  351550905000042 -20.268545 -50.241478              R

## censo todas las variables

In [6]:
dt_cns_tds_vrbls = pd.read_csv('data/dados_censitarios_consolidados_todas_variaveis.csv', dtype='str')

## dict cod_names

In [7]:
dict_names = dt_cns_tds_vrbls[[ 'Cod_Grandes Regiões','Cod_RM',
                               'Cod_UF', 'Cod_bairro', 'Cod_distrito', 
                               'Cod_meso','Cod_micro', 'Cod_municipio',
                               'Cod_subdistrito', 'Nome_Grande_Regiao',
                               'Nome_da_RM', 'Nome_da_UF ',
                               'Nome_da_meso', 'Nome_da_micro',
                               'Nome_do_bairro', 'Nome_do_distrito',
                               'Nome_do_municipio', 'Nome_do_subdistrito']].drop_duplicates(keep='first')

## Prepare dtypes

In [8]:
dt_cns_tds_vrbls = (dt_cns_tds_vrbls
                   .drop(columns=['Unnamed: 0', 'Nome_Grande_Regiao', 'Nome_da_RM',
                                  'Nome_da_UF ', 'Nome_da_meso', 'Nome_da_micro',
                                  'Nome_do_bairro', 'Nome_do_distrito', 'Nome_do_municipio',
                                  'Nome_do_subdistrito'])
                   )

In [9]:
cat_vars = ['Tipo_setor', 'Situacao_setor']
str_vars = ['Cod_Grandes Regiões','Cod_RM',
            'Cod_UF', 'Cod_bairro', 'Cod_distrito', 
            'Cod_meso','Cod_micro', 'Cod_municipio',
            'Cod_subdistrito', 'Cod_setor']
num_vars = [var_i for var_i in dt_cns_tds_vrbls.columns if var_i not in cat_vars + str_vars]

In [10]:
for cat_i in cat_vars:
    dt_cns_tds_vrbls[cat_i] = dt_cns_tds_vrbls[cat_i].astype('category')

for num_i in num_vars:
    dt_cns_tds_vrbls[num_i] = pd.to_numeric(dt_cns_tds_vrbls[num_i].str.replace(',', '.'), errors='coerce')

## create dummies

In [11]:
dt_cns_tds_vrbls = pd.get_dummies(dt_cns_tds_vrbls, columns=cat_vars)

# Join

In [12]:
data = (data
        .dropna(subset=['census_code'])
        .merge(dt_cns_tds_vrbls,left_on='census_code', right_on='Cod_setor', how='left')
       )

# Exportar data

In [13]:
data.to_csv('data/procesada/data_plus_census.csv', index=False)
data.to_pickle('data/procesada/data_plus_census.pkl')

## Cargar data a S3

In [14]:
AWS_ACCESS_KEY = ' AKIARQBCIP76L6XVXIVQ'
AWS_SECRET_ACCESS_KEY = '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'
S3_BUCKET_NAME = 'ds4ateam5'

s3_client = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY
)

s3_bucket = s3_client.Bucket(S3_BUCKET_NAME)
local_folder = '.'

In [15]:
for file_i in ['data/procesada/data_plus_census.csv',
               'data/procesada/data_plus_census.pkl']:
    
    s3_bucket.upload_file(file_i, file_i)